div {
    background-color: #2e2e2a;
    box-sizing: border-box;
    color: white;
    float: left;
    width: 9%;
    text-align: center;
    font-family: sans-serif;
}

div:hover {
    background-color: #f9a91a;
    cursor: pointer;
}

h1 {
    font-family: sans-serif;
    font-size: 18px;
}